{% extends 'base.html' %}
{% block content %}
<div class="text-gray-300 container mx-auto p-8 overflow-hidden md:rounded-lg md:p-10 lg:p-12">
        <div class="flex justify-between">
            <h1 class="font-serif text-3xl font-medium">FOOTZ ARENA</h1>
            <a href="https://github.com/gary149/landing-gradients"
                class="self-start px-3 py-2 leading-none text-gray-200 border border-gray-800 rounded-lg focus:outline-none focus:shadow-outline bg-gradient-to-b hover:from-indigo-500 from-gray-900 to-black">
                 <div class="w-10 h-10 bg-white rounded-md">
                <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="40" height="40" viewBox="0 0 50 50">
                    <path d="M 16 3 C 8.83 3 3 8.83 3 16 L 3 34 C 3 41.17 8.83 47 16 47 L 34 47 C 41.17 47 47 41.17 47 34 L 47 16 C 47 8.83 41.17 3 34 3 L 16 3 z M 37 11 C 38.1 11 39 11.9 39 13 C 39 14.1 38.1 15 37 15 C 35.9 15 35 14.1 35 13 C 35 11.9 35.9 11 37 11 z M 25 14 C 31.07 14 36 18.93 36 25 C 36 31.07 31.07 36 25 36 C 18.93 36 14 31.07 14 25 C 14 18.93 18.93 14 25 14 z M 25 16 C 20.04 16 16 20.04 16 25 C 16 29.96 20.04 34 25 34 C 29.96 34 34 29.96 34 25 C 34 20.04 29.96 16 25 16 z"></path>
                </svg>
                 </div>
            </a>
        </div>

        <p class="font-sans text-4xl font-bold text-gray-200 max-w-5xl lg:text-7xl lg:pr-24 md:text-6xl">
            Chegou a hora de provar seu talento!
        </p>
        <div class="h-10"></div>
        <p class="max-w-2xl font-serif text-xl text-gray-400 md:text-2xl">
            Levando as ruas para o próximo nivel
        </p>

        <div class="h-8 md:h-10"></div>

        <div class="grid gap-8 md:grid-cols-2">
            <div class="flex flex-col justify-center">
                <p
                    class="self-start inline font-sans text-xl font-medium text-transparent bg-clip-text bg-gradient-to-br from-green-400 to-green-600 mb-4">
                    De Jogadores para Jogadores
                </p>
                <h2 class="text-3xl font-bold">A FOOTZ ARENA é a sua casa.</h2>
                <div class="h-6"></div>
                <p class="font-serif text-xl text-gray-400 md:pr-10">
                    Os melhores torneios de futebol de rua 1v1 - 3x3 & Groundmoves
                </p>
                <div class="h-8"></div>
                <div class="grid grid-cols-2 gap-4 pt-8 border-t border-gray-800">
                    <div>
                        <p class="font-semibold text-gray-400">Liberdade</p>
                        <div class="h-4"></div>
                        <p class="font-serif text-gray-400">
                            Aqui você é livre para tomar suas decisões, se expresse o máximo possivel
                            com a bola nos pés.
                        </p>
                    </div>
                    <div>
                        <p class="font-semibold text-gray-400">Expresse o seu jogo</p>
                        <div class="h-4"></div>
                        <p class="font-serif text-gray-400">
                            Ipsum dolor sit, amet consectetur adipisicing elit. Delectus
                            amet consectetur.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="h-8 md:h-10"></div>

        <p class="font-serif text-4xl">
            <span class="text-gray-400">Se todos trabalharmos juntos!</span>

            <span class="text-gray-600"
          >Vamos levar o futebol de rua para o próximo nivel.</span>
        </p>

        <p class="font-serif text-4xl mt-10">
            <span class="text-gray-400">Nossos Valores</span>
        </p>

        <div class="grid gap-4 md:grid-cols-3 mt-10 rounded">
            <div class="flex-col p-8 py-16 rounded-lg shadow-2xl md:p-12 bg-gradient-to-br from-gray-900 to-black">
                <p
                    class="flex items-center justify-center text-4xl font-semibold text-green-400 bg-green-800 rounded-full shadow-lg w-14 h-14">
                    1
                </p>
                <div class="h-6"></div>
                <p class="font-serif text-3xl">Unidos somos mais fortes !</p>
            </div>
            <div class="flex-col p-8 py-16 rounded-lg shadow-2xl md:p-12 bg-gradient-to-b from-gray-900 to-black">
                <p
                    class="flex items-center justify-center text-4xl font-semibold text-indigo-400 bg-indigo-800 rounded-full shadow-lg w-14 h-14">
                    2
                </p>
                <div class="h-6"></div>
                <p class="font-serif text-3xl">
                    Todos podem jogar !
                </p>
            </div>
            <div class="flex-col p-8 py-16 rounded-lg shadow-2xl md:p-12 bg-gradient-to-bl from-gray-900 to-black">
                <p
                    class="flex items-center justify-center text-4xl font-semibold text-teal-400 bg-gray-800 rounded-full shadow-lg w-14 h-14">
                    3
                </p>
                <div class="h-6"></div>
                <p class="font-serif text-3xl">A liberdade é o caminho!</p>
            </div>
        </div>

        <div class="h-10"></div>

        <div class="grid gap-8 md:grid-cols-3">
            <div class="flex flex-col justify-center md:col-span-2">
                <p
                    class="self-start inline font-sans text-xl font-medium text-transparent bg-clip-text bg-gradient-to-br from-teal-400 to-teal-600">
                    We are humans
                </p>
                <h2 class="text-4xl font-bold">Competição 3v3</h2>
                <div class="h-6"></div>
                <p class="font-serif text-xl text-gray-400 md:pr-10">
                    3v3 até 4 jogadores, uma batalha insana de 8 minutos, quem fizer mais gol ganha,
                    mas cuidado com as pernas, A caneta pode te eliminar!
                </p>
                <div class="h-8"></div>
                <div class="grid gap-6 pt-8 border-t border-gray-800 lg:grid-cols-3">
                    <a href="{% url 'rules' %}" class="hover:underline" target="_blank">
                        <div>
                            <p class="font-semibold text-gray-400">Regras 3v3</p>
                            <div class="h-4"></div>
                            <p class="font-serif text-gray-400">
                                Leia o livro de regras.
                            </p>
                        </div>
                    </a>


                    <div class="mt-10">
                        <p class="font-semibold text-gray-400">Inscreva-se</p>
                        <div class="h-4"></div>
                        <p class="font-serif text-gray-400">
                            Junte seu time e inscreva-se para a competição
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="h-10 md:h-40"></div>

        <div class="grid gap-4 md:grid-cols-4">
            <ul class="space-y-1 text-gray-400">
                <li class="pb-4 font-serif text-gray-400">
                    🌐Redes Sociais</li>
                <li>
                    <a href="https://instagram.com/footz_arena" class="hover:underline">instagram</a>
                </li>
                <li>
                    <a href="#" class="hover:underline">Youtube</a>
                </li>
            </ul>
            <!-- <ul class="space-y-1 text-gray-400">
                <li class="pb-4 font-serif text-gray-400">Locations</li>
                <li>
                    <a href="#" class="hover:underline">Paris</a>
                </li>
                <li>
                    <a href="#" class="hover:underline">New York</a>
                </li>
                <li>
                    <a href="#" class="hover:underline">London</a>
                </li>
                <li>
                    <a href="#" class="hover:underline">Singapour</a>
                </li>
            </ul>
            <ul class="space-y-1 text-gray-400">
                <li class="pb-4 font-serif text-gray-400">Company</li>
                <li>
                    <a href="#" class="hover:underline">The team</a>
                </li>
                <li>
                    <a href="#" class="hover:underline">About us</a>
                </li>
                <li>
                    <a href="#" class="hover:underline">Our vision</a>
                </li>
                <li>
                    <a href="#" class="hover:underline">Join us</a>
                </li>
            </ul> -->
        </div>
        <div class="h-12"></div>
    </div>
{%  endblock %}
