{% extends 'base.html' %}
{% block content %}
<div class="text-gray-300 container mx-auto p-8 overflow-hidden md:rounded-lg md:p-10 lg:p-12">
        <div class="flex justify-between">
            <h1 class="font-serif text-3xl font-medium">FOOTZ ARENA</h1>
            <a href="https://github.com/gary149/landing-gradients"
                class="self-start px-3 py-2 leading-none text-gray-200 border border-gray-800 rounded-lg focus:outline-none focus:shadow-outline bg-gradient-to-b hover:from-indigo-500 from-gray-900 to-black">
                 <div class="w-10 h-10 bg-white rounded-md">
                <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="40" height="40" viewBox="0 0 50 50">
                    <path d="M 16 3 C 8.83 3 3 8.83 3 16 L 3 34 C 3 41.17 8.83 47 16 47 L 34 47 C 41.17 47 47 41.17 47 34 L 47 16 C 47 8.83 41.17 3 34 3 L 16 3 z M 37 11 C 38.1 11 39 11.9 39 13 C 39 14.1 38.1 15 37 15 C 35.9 15 35 14.1 35 13 C 35 11.9 35.9 11 37 11 z M 25 14 C 31.07 14 36 18.93 36 25 C 36 31.07 31.07 36 25 36 C 18.93 36 14 31.07 14 25 C 14 18.93 18.93 14 25 14 z M 25 16 C 20.04 16 16 20.04 16 25 C 16 29.96 20.04 34 25 34 C 29.96 34 34 29.96 34 25 C 34 20.04 29.96 16 25 16 z"></path>
                </svg>
                 </div>
            </a>
        </div>
        <div class="h-10"></div>

        <div class="grid gap-8 md:grid-cols-3">
            <div class="flex flex-col justify-center md:col-span-2">
                <h2 class="text-4xl font-bold">Inscreva-se</h2>
                <div class="h-6"></div>
                <p class="font-serif text-xl text-gray-400 md:pr-10">
                    O capitão de cada time deve preencher o formulario.
                </p>
                <div class="h-8"></div>
                <div class="container mx-auto p-4 md:p-10">
    <div class="max-w-md mx-auto bg-white rounded-lg overflow-hidden md:max-w-xl">
        <div class="md:flex">
            <div class="w-full px-6 py-8 md:p-8">
                <h2 class="text-2xl font-bold text-gray-800">Inscrição 3v3</h2>
                <form class="mt-6" action="{% url 'subscribe' %}" method="post">
                    {% csrf_token %}
                    <div class="mb-6">
                        <label class="block text-gray-800 font-bold mb-2" for="team_name">
                            Nome do Time
                        </label>
                        <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="team_name" name="team_name" type="text" placeholder="Nome do seu time" required>
                    </div>
                    <div class="border-b border-solid border-black mb-6"></div>
                    <div class="mb-6">
                        <label class="block text-gray-800 font-bold mb-2" for="captain_name">
                            Nome do Capitão
                        </label>
                        <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="captain_name" name="captain_name" type="text" placeholder="Nome completo do capitão">
                    </div>
                    <div class="mb-6">
                        <label class="block text-gray-800 font-bold mb-2" for="captain_phone">
                            Celular do Capitão
                        </label>
                        <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="captain_phone"  name="captain_phone" type="text" placeholder="(xx) xxxxx-xxxx">
                    </div>
                    <div class="mb-6">
                        <label class="block text-gray-800 font-bold mb-2" for="captain_instagram">
                            Instagram do Capitão
                        </label>
                        <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="captain_instagram" name="captain_instagram" type="text" placeholder="@nomedocapitao">
                    </div>
                    <div class="border-b border-solid border-black mb-6"></div>
                    <!-- Jogador 1 -->
                    <div class="mb-6">
                        <label class="block text-gray-800 font-bold mb-2" for="player1_name">
                            Nome do Jogador 1
                        </label>
                        <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="player1_name" type="text" name="player_1_name" placeholder="Nome do jogador 1">
                    </div>
                    <div class="mb-6">
                        <label class="block text-gray-800 font-bold mb-2" for="player_1_instagram">
                            Instagram do Jogador 1
                        </label>
                        <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="player1_instagram" type="text" name="player_1_instagram" placeholder="@nomejogador1">
                    </div>
                    <!-- Jogador 2 -->
                    <div class="border-b border-solid border-black mb-6"></div>
                    <div class="mb-6">
                        <label class="block text-gray-800 font-bold mb-2" for="player2_name">
                            Nome do Jogador 2
                        </label>
                        <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="player2_name" type="text" name="player_2_name" placeholder="Nome do jogador 2">
                    </div>
                    <div class="mb-6">
                        <label class="block text-gray-800 font-bold mb-2" for="player2_instagram">
                            Instagram do Jogador 2
                        </label>
                        <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="player2_instagram" name="player_2_instagram" type="text" placeholder="@nomejogador2">
                    </div>
                    <div class="border-b border-solid border-black mb-6"></div>

                    <!-- Jogador 3 -->
                    <div class="mb-6">
                        <label class="block text-gray-800 font-bold mb-2" for="player3_name">
                            Nome do Jogador 3
                        </label>
                        <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="player3_name" name="player_3_name" type="text" placeholder="Nome do jogador 3">
                    </div>
                    <div class="mb-6">
                        <label class="block text-gray-800 font-bold mb-2" for="player3_instagram">
                            Instagram do Jogador 3
                        </label>
                        <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="player3_instagram" name="player_3_instagram"type="text" placeholder="@nomejogador3">
                    </div>
                    <div class="border-b border-solid border-black mb-6"></div>

                    <div class="mb-6">
                        <input type="checkbox" id="rules" name="rules" value="rules" required>
                        <label class="text-gray-800 font-bold" for="rules">
                            Concordo com as regras
                        </label><br>
                        <input type="checkbox" id="terms" name="terms" value="terms" required>
                        <label class="text-gray-800 font-bold" for="terms">
                            Concordo com os termos
                        </label><br>
                        <input type="checkbox" id="share_data" name="share_data" value="share_data" required>
                        <label class="text-gray-800 font-bold" for="share_data">
                            Concordo em compartilhar meus dados
                        </label>
                    </div>
                    <button class="bg-indigo-500 hover:bg-indigo-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
                        Enviar
                    </button>
                    {% if error %}
                      <p class="text-red-500 text-sm mt-1">{{ error }}</p>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
</div>

        </div>
</div>

            </div>
        </div>

        <div class="h-10 md:h-40"></div>

        <div class="grid gap-4 md:grid-cols-4">
            <ul class="space-y-1 text-gray-400">
                <li class="pb-4 font-serif text-gray-400">
                    🌐Redes Sociais</li>
                <li>
                    <a href="https://instagram.com/footz_arena" class="hover:underline">instagram</a>
                </li>
                <li>
                    <a href="#" class="hover:underline">Youtube</a>
                </li>
            </ul>
            <ul class="space-y-1 text-gray-400">
                <li class="pb-4 font-serif text-gray-400">
                    🌐3V3</li>
                <li>
                    <a href="{% url 'subscribe' %}" class="hover:underline">Inscreva-se</a>
                </li>
                <li>
                    <a href="/" class="hover:underline">Volte ao inicio</a>
                </li>
            </ul>

        </div>
        <div class="h-12"></div>
    </div>
{%  endblock %}
